@media screen and (min-width: 680px) {
    .header-block {
        display: flex;
    }
    .nav-btn {
        display: none;
    }
    .main-nav ul {
        position: static;
        width: auto;
        background: none;
        display: block;
    }
    .main-nav li {
        display: inline-block;
        margin-right: 14px;
    }
    .main-nav a {
        display: inline-block;
        padding: 10px 8px;
        border: none;
    }
    .promo {
        padding: 130px;
    }
    .promo-button a {
        display: inline-block;
        width: 200px;
        height: 65px;
    }
    .info-item {
        width: 50%;
    }
    .social-icons {
        float: right;
    }
    .profile {
        margin-left: 40px;
    }
    .profile-text {
        display: block;
    }
    .order-row {
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .order-col {
        display: flex;
    }
}
@media screen and (min-width: 980px) {
    .main-nav li {
        margin-right: 2px;
    }

    .main-nav li a {
        padding: 8px 19px;
    }
    .stuff-item {
        width: 33%;
    }
    .contact-item {
        width: 33%;
    }
}